html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {

    background-color: dodgerblue
}

header>h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

nav {
    width:100%;

    background-color: dodgerblue;
    text-align: center;
    word-spacing: 30px;
    font-weight: bold;
}

nav>a {
    color: white;
    font-size: 20px;
    word-spacing: 30px;
    font-weight: bold;

}

footer {
    margin-top: 150px;
    width: 100%;
    background-color: rgb(3, 6, 7);
    position: fixed;
    bottom: 0;
    left:0;
}

footer>p {
    color: white;
    font-size: 15px;
    text-align: center;
}

section {
    position: absolute;
    left: 10%;
}

aside {
    font-size: 15px;
}

img {
    width: 300px;
    height: 300px;
    float: right;
}

table, td {
    border: 1px solid rgb(36, 46, 49);
    border-collapse: collapse;
}
body{
    background-color: white;
}
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: dodgerblue;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    flex-basis: 16.6666667%;
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 3px;
    font-size: 30px;
}

.imgHome {
    width: 300px;
    height: 300px;
    float: none;
}

main {
    padding-bottom: 50px;
}

.item1 { grid-area: header; }
.item2 { grid-area: aside; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }
.item5 { grid-area: nav; }

.grid-container {

    display: grid;
    grid-template-areas:
    'header header header header header'
    'nav nav nav nav nav'
    'aside main main main main'
    'footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;

}

.grid-container-other {

    display: grid;
    grid-template-areas:
    'header header header header header'
    'nav nav nav nav nav'
    'main main main main main'
    'footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

table, tr, td {
    border: none;
}

.checkoutButton {
    margin:0 auto;
    display:block;
    font-weight: bold;
    width: 100%;
}

.centerText{
    text-align: center;
}